<aside>
  <p class="intro">{{ site.subtitle }}</p>
  <nav class="sidebar-nav" role="navigation">
    <ul>{% for link in site.navigation %}{% capture parent_url %}/{{ link.url }}{% endcapture %}
        <li class="group {% if link.text == 'Blog' %}sidebar-nav-active{% endif %}">
          <a href="{% if link.internal == true %}{{ site.baseurl }}/{% endif %}{{ link.url }}"  
            title="{% if link.text == 'Blog' %}Current Page
                  {% else %}{{ link.text }}{% endif %}">{{ link.text }}</a>
          {% assign parent = link %}
      {% include sidebar-children.html %}
        </li>{% endfor %}
    </ul>
  </nav>
          {% include resources.html %}  
</aside>
