<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://continuousdelivery.us5.list-manage.com/subscribe/post?u=e13fdabe5914affc6cc0ea6d0&amp;id=38443693cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL"><h2>Subscribe</h2></label>
      <p><i>Get discounts and free excerpts from my videos and books when you subscribe to my low-volume mailing list.</i></p> 
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e13fdabe5914affc6cc0ea6d0_38443693cb" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color:#fc7f00"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

    <h2>Video training</h2>

    <div><a href="https://leanagile.study/"><img src="/images/leanagile.png" style="float:left;padding-right:10px;"/></a>
      <p><a href="https://leanagile.study/">5h video training: "Creating High Performance Organizations"</a></p><br clear="all"/></div>
    
    <div><a href="https://learning.oreilly.com/videos/-/9780134389363/"><img src="https://www.informit.com/ShowCover.aspx?isbn=9780134390710&type=d" style="float:left;padding-right:10px;"/></a>
      <p><a href="https://learning.oreilly.com/videos/-/9780134389363/">My 4.5h continuous delivery video training course</a></p><br clear="all"/></div>

    <div><a href="https://learning.oreilly.com/course/continuous-delivery-expert/9780133412246/"><img src="https://www.informit.com/ShowCover.aspx?isbn=9780321913180&type=d" style="float:left;padding-right:10px;"/></a>
      <p><a href="https://learning.oreilly.com/course/continuous-delivery-expert/9780133412246/">Interviews with Eric Ries, Elisabeth Hendrickson, John Allspaw, Jesse Robbins and Gary Gruver</a> (royalties go to <a href="http://www.blackgirlscode.com/">Black Girls Code</a>)</p></div>

    <h2>Books</h2>

    <p><i>I earn a commission if you buy through the links below, at no extra cost to you.</i></p> 

    <div><a href="https://bookshop.org/a/125653/9781942788331"><img width="90" src="/images/accelerate.jpg" style="float:left;padding-right:10px;"/></a>
      <p><em>Accelerate</em> (2018)<br/><a href="https://bookshop.org/a/125653/9781942788331"><strong>Bookshop.org</strong> (paperback)</a><br/>
    Translations: <a href="https://www.amazon.co.jp/dp/4295004901?tag=devopscd-20">日本語</a> | <a href="http://acornpub.co.kr/book/accelerate">한국어</a> | <a href="https://product.dangdang.com/11723624546.html">简体中文</a> | <a href="https://www.flag.com.tw/books/product/F2652">繁體中文</a> | <a href="https://www.amazon.de/dp/3800659638?tag=devopscd-20">Deutsch</a> | <a href="https://www.casadellibro.com/libro-acelerar-la-ciencia-del-desarrollo-lean-y-devops/9788441543591/12176325">español</a> | <a href="https://helion.pl/ksiazki/przyspieszenie-lean-i-devops-w-rozwoju-firm-technologicznych-nicole-forsgren-phd-jez-humble-gene-kim,przylv.htm">polski</a> | <a href="https://www.chitai-gorod.ru/product/uskoryaysya-nauka-devops-kak-sozdavat-i-masshtabirovat-vysokoproizvoditelnye-cifrovye-organizacii-2773529">русский</a></p>
    <br clear="all"/></div>
    
    <div><a href="https://bookshop.org/a/125653/9781950508402"><img width="90" src="/images/devops-handbook.jpg" style="float:left;padding-right:10px;"/></a>
      <p><em>DevOps Handbook</em> (2016)<br/><a href="https://bookshop.org/a/125653/9781950508402"><strong>Bookshop.org</strong> (paperback)</a><br/>
    Translations: <a href="https://www.amazon.co.jp/dp/4822285480?tag=devopscd-20">日本語</a> | <a href="https://product.kyobobook.co.kr/detail/S000213304452">한국어</a> | <a href="https://item.jd.com/12350780.html">简体中文</a> | <a href="https://www.kingstone.com.tw/Basic/2014941813818">繁體中文</a> | <a href="https://www.amazon.de/dp/3960091990?tag=devopscd-20">Deutsch</a> | <a href="https://helion.pl/ksiazki/devops-swiatowej-klasy-zwinnosc-niezawodnosc-i-bezpieczenstwo-w-twojej-organizacji-wydanie-ii-gene-kim-jez-humble-patrick-debois-john-willis,devop2.htm">polski</a> | <a href="https://www.amazon.com.br/dp/8550802697?tag=devopscd-20">português</a> | <a href="https://www.mann-ivanov-ferber.ru/catalog/product/rukovodstvo-po-devops/">русский</a></p>
    <br clear="all"/></div>
  
<div><a
  href="https://bookshop.org/a/125653/9781492091776"><img
  width="90" src="/images/lean-enterprise.png"
  style="float:left;padding-right:10px;"/></a><p><em>Lean Enterprise</em> book (2015)<br/><a
  href="https://bookshop.org/a/125653/9781492091776"><strong>Bookshop.org</strong>
  (paperback)</a><br /><a
  Translations: <a href="https://www.amazon.co.jp/dp/4873117747?tag=devopscd-20">日本語</a> | <a href="https://read.douban.com/ebook/31793596/">简体中文</a> | <a href="https://www.amazon.de/dp/396009020X?tag=devopscd-20">Deutsch</a> | <a href="https://helion.pl/ksiazki/metoda-lean-enterprise-w-poszukiwaniu-innowacji-jez-humble-joanne-molesky-barry-o-reilly,meleen.htm">polski</a> | <a href="https://www.casadocodigo.com.br/products/livro-lean-enterprise">português</a>
</p><br clear="all"/></div>

<div><a href="https://bookshop.org/a/125653/9780321601919"><img border="0" width="90" src="/images/cd-book.png" style="float:left;padding-right:10px"/></a>
<p><em>Continuous Delivery</em> book (2010)<br/><a href="https://bookshop.org/a/125653/9780321601919"><strong>Bookshop.org</strong>(hardback)</a><br />
<a  href="http://bit.ly/jez-cd-ebook"><strong>InformIT</strong> (pdf, epub, mobi)</a><br />
Translations: <a href="https://www.amazon.co.jp/dp/4048707876?tag=devopscd-20">日本語</a> | <a href="http://acornpub.co.kr/book/continuous-delivery">한국말</a> | <a href="https://product.dangdang.com/22513036.html">简体中文</a> | <a href="https://www.amazon.com.br/dp/8582601034?tag=devopscd-20">português</a> | <a href="https://litres.com/book/dzhez-hambl/nepreryvnoe-razvertyvanie-po-avtomatizaciya-processov-sborki-t-48613766/">русский</a></p></div>

<h2>My Workshops</h2>
<ul>
<li><a href="/about/workshops">Foundations of DevOps and Continuous Delivery</a></li>
<li><a href="/about/workshops">High Performance Product Development</a></li>
<li><a href="/about/workshops">Deploying Cloud Native Systems with Terraform and AWS</a></li>
</ul>

