<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://continuousdelivery.us5.list-manage.com/subscribe/post?u=e13fdabe5914affc6cc0ea6d0&amp;id=38443693cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL"><h2>Subscribe</h2></label>
      <p><i>Get discounts and free excerpts from my videos and books when you subscribe to my low-volume mailing list.</i></p> 
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e13fdabe5914affc6cc0ea6d0_38443693cb" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color:#fc7f00"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

    <h2>Video training</h2>

    <div><a href="https://leanagile.study/"><img src="/images/leanagile.png" style="float:left;padding-right:10px; bordder:1px solid black;"/></a>
      <p><a href="https://leanagile.study/">5h video training: "Creating High Performance Organizations"</a></p><br clear="all"/></div>
    
    <div><a href="http://bit.ly/jez-cd-training"><img src="https://www.informit.com/ShowCover.aspx?isbn=9780134390710&type=d" style="float:left;padding-right:10px; bordder:1px solid black;"/></a>
      <p><a href="http://bit.ly/jez-cd-training">My 4.5h continuous delivery video training course</a></p><br clear="all"/></div>

    <div><a href="http://bit.ly/jez-cd-interviews"><img src="https://www.informit.com/ShowCover.aspx?isbn=9780321913180&type=d" style="float:left;padding-right:10px; bordder:1px solid black;"/></a>
      <p><a href="http://bit.ly/jez-cd-interviews">Interviews with Eric Ries, Elisabeth Hendrickson, John Allspaw, Jesse Robbins and Gary Gruver</a> (royalties go to <a href="http://www.blackgirlscode.com/">Black Girls Code</a>)</p></div>

    <h2>Books</h2>

    <div><a href="https://www.amazon.com/dp/1942788339?tag=devopscd-20"><img width="90" src="/images/accelerate.jpg" style="float:left;padding-right:10px; bordder:1px solid black;"/></a>
      <p><em>Accelerate</em> (2018)<br/><a href="https://www.amazon.com/dp/1942788339?tag=devopscd-20"><strong>Amazon</strong> (paperback, kindle)</a><br/></p>
    <br clear="all"/></div>
    
    <div><a href="https://www.amazon.com/dp/1942788002?tag=devopscd-20"><img width="90" src="/images/devops-handbook.jpg" style="float:left;padding-right:10px; bordder:1px solid black;"/></a>
      <p><em>DevOps Handbook</em> (2016)<br/><a href="https://www.amazon.com/dp/1942788002?tag=devopscd-20"><strong>Amazon</strong> (paperback, kindle)</a><br/>
    Translations: <a href="https://www.amazon.co.jp/dp/4822285480?tag=devopscd-20">日本語</a> | <a href="https://www.amazon.de/dp/3960090471?tag=devopscd-20">Deutsch</a></p>
    <br clear="all"/></div>
  
<div><a
  href="http://bit.ly/lean-enterprise-paper"><img
  width="90" src="/images/lean-enterprise.png"
  style="float:left;padding-right:10px; bordder:1px solid
  black;"/></a><p><em>Lean Enterprise</em> book (2015)<br/><a
  href="http://bit.ly/lean-enterprise-paper"><strong>Amazon</strong>
  (hardback, kindle)</a><br /><a
  Translations: <a href="http://www.amazon.cn/dp/B01AS1ORWM?tag=devopscd-20">中文</a> | <a href="https://www.amazon.co.jp/dp/4873117747?tag=devopscd-20">日本語</a> | <a href="https://www.amazon.de/dp/396009020X?tag=devopscd-20">Deutsch</a> | <a href="https://www.casadocodigo.com.br/products/livro-lean-enterprise">português</a>
</p><br clear="all"/></div>

<div><a href="https://www.amazon.com/dp/0321601912?tag=devopscd-20"><img border="0" width="90" src="/images/cd-book.png" style="float:left;padding-right:10px"/></a>
<p><em>Continuous Delivery</em> book (2010)<br/><a href="https://www.amazon.com/dp/0321601912?tag=devopscd-20"><strong>Amazon</strong> (hardback, kindle)</a><br />
<a  href="http://bit.ly/jez-cd-ebook"><strong>InformIT</strong> (pdf, epub, mobi)</a><br />
Translations: <a href="http://www.amazon.cn/gp/product/B005V9BB1M?tag=devopscd-20">中文</a> | <a href="http://www.amazon.co.jp/dp/4048707876?tag=devopscd-20">日本語</a> | <a href="http://acornpub.co.kr/book/continuous-delivery">한국말</a> | <a href="http://www.grupoa.com.br/livros/engenharia-de-software-e-metodos-ageis/entrega-continua/9788582601037">português</a> | <a href="http://www.ozon.ru/context/detail/id/7243884/">ру́сский</a></p></div>

<h2>My Workshops</h2>
<ul>
<li><a href="/about/workshops">Foundations of DevOps and Continuous Delivery</a></li>
<li><a href="/about/workshops">High Performance Product Development</a></li>
<li><a href="/about/workshops">Deploying Cloud Native Systems with Terraform and AWS</a></li>
</ul>

