---
---

@import "guides_style_18f";

.sidebar-nav a:hover,
.sidebar-nav a:focus,
.sidebar-nav a:active,
.sidebar-nav .sidebar-nav-active > a {
  background-color: #ffcc99;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

#mc_embed_signup form {
    padding: 0px !important;
}

#mc_embed_signup label {
    padding: 0px !important;
}
