<!DOCTYPE html>
<html lang='en'>

  {% include header.html %}

  <body>

    <div class="container">
      <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>

      <header role="banner">

        <div class="wrap">


          <h1 class="site-title"><a class="title-link" href="{{ site.baseurl }}/">{{ site.name }}</a></h1>


        </div>

      </header>

      <div class="wrap content">

        <section id="main" class="main-content" role="main">
          <h2>{{ page.title }}</h2>
          {{ content }}
          {% include buttons.html %}

	</section>

        {% if page.layout == 'post' %}{% include blog-sidebar.html %}{% else %}{% include sidebar.html %}{% endif %}

      </div><!-- /.wrap content -->

      {% include footer.html %}

    </div> <!-- /.container -->

  </body>
{% include scripts.html %}
</html>
